input[type="radio"]{
    display: none;

}
label{
    display:inline-block;
    padding: 20px;
    background-color: aqua;
    font-size: 14px;
    cursor: pointer;

}
.conbox{
    width: 500px;
    height: 600px;
    background-color: beige;
    margin: 0 auto;
    display: none;
}