h1 {

    text-align: center;
    font-size:300%;
    padding: 20px;
    margin: 0;
}
body{
    text-align: center;
    font-size: 200%;
}
div{
    color: gray;
    margin-left:750px ;
    margin-top: 50px;
    text-align:left;
    border-bottom: 1px solid gray ;
    width:400px;
}
P{  
    margin-top: 50px;
    margin-left:750px ;
    background-color:greenyellow;
    width:400px;
}
a{
    font-size: 70%;
}
a1{
    border-bottom:1px solid blue ;
    color: blue;
}